@model Setting

<div>
    <div>
        <h1>Update:</h1>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data">

            <div class="mb-3 col-3">
                <label asp-for="Value" class="form-label">@Model.Key</label>
                <input asp-for="Value" class="form-control">
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-warning">Update</button>
            <a class="btn btn-outline-danger" asp-controller="setting" asp-action="index">Cancel</a>
        </form>
    </div>
</div>